*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  font-size: 2rem;
}

h1, h2 {
  margin: 0;
  line-height: 1.08;
}

h2 {
  color: #141414
}

p {
  line-height: 1.25;
  margin: 0.5em 0;
}

.white-text {
  color: white;
}

.feature-date,
.footer-title,
.copyright {
  font-size: 0.75rem;
}

.blog-date {
  font-size: 0.875rem;
}

.preview {
  color: #505050;
}

.view-more {
  margin: 0;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.footer-title {
  font-weight: bold;
  margin: 0;
}

.copyright {
  margin: 0;
}

/* ----- LAYOUT ----- */

header {
  padding: 1.125em 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1160px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-bottom: 1.5em;
  background-image: url(img/blog-image-hero.jpg);
  background-size: cover;
  height: 293px;
}

.summary {
  max-width: 615px;
}

.blog-cards {
  padding-bottom: 43px;
}

.blog-grid {
  margin: 2.125em auto 1em auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}

.card > img {
  width: 100%;
}

#card-4,
#card-5,
#card-6 {
  display: none;
}

footer {
  text-align: center;
  padding: 2.25em 0;
  background-color: #202020;
}

/* ----- NAVIGATION ----- */

nav > ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
}

/* ----- MEDIA QUERIES ----- */

