*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.08;
}

p {
  line-height: 1.25;
  margin: 0.5em 0;
}

.white-text {
  color: white;
}

.feature-date {
  font-size: 0.75rem;
}

/* ----- LAYOUT ----- */

header {
  padding: 1.125em 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1160px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding: 5.375em 0 1.5em 0;
  background-image: url(img/blog-image-hero.jpg);
  background-size: cover;
}

/* ----- NAVIGATION ----- */

nav > ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
}

/* ----- MEDIA QUERIES ----- */

