*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: #fafafa;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  font-size: 2rem;
}

h1, h2 {
  margin: 0;
  line-height: 1.08;
}

h2 {
  color: #141414
}

h3 {
  font-size: 1rem;
  color: #151515;
}

h3, p {
  line-height: 1.25;
  margin: 0.5em 0;
}

.white-text {
  color: white;
}

li > a {
  text-decoration: none;
  color: #090909;
}

li > a:hover,
li > a:active {
  color: #505050;
}

.feature-date,
.footer-title,
.copyright {
  font-size: 0.75rem;
}

.feature-link,
.feature-link:visited {
  text-decoration: none;
}

.feature-link:hover,
.feature-link:active {
  text-decoration: underline;
  text-decoration-color: white;
}

.blog-date {
  font-size: 0.875rem;
}

.preview {
  color: #505050;
}

.view-more,
.recent-posts {
  margin: 0;
  display: block;
  font-weight: bold;
  text-align: center;
}

.view-more {
  text-decoration: underline;
}

.footer-title {
  font-weight: bold;
  margin: 0;
}

.copyright {
  margin: 0;
}

/* ----- LAYOUT ----- */

.site-header {
  padding: 1.125em 0;
  background-color: white;
}

article {
  padding: 2em 0 3.25em 0;
  gap: 32px;
}

.container,
.article-container {
  margin: 0 auto;
  width: 90%;
}

.container {
  max-width: 1160px;
}

.article-container {
  max-width: 1000px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article,
.hero,
.article-container,
.about-header,
.about-text {
  display: flex;
  flex-direction: column;
}

.hero {
  justify-content: end;
  align-items: flex-start;
  padding-bottom: 1.5em;
  background-image: url(img/blog-image-hero.jpg);
  background-size: cover;
  height: 293px;
}

.article-container,
.about-text {
  gap: 16px;
}

.about-header {
  gap: 28px;
}

.about-article {
  gap: 50px;
}

.article-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.summary {
  max-width: 615px;
}

.blog-cards {
  padding-bottom: 43px;
}

.blog-grid {
  margin: 2.125em auto 1em auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}

.card > img {
  width: 100%;
}

.about-header > img {
  width: 182px;
}

#card-4,
#card-5,
#card-6 {
  display: none;
}

footer {
  text-align: center;
  padding: 2.25em 0;
  background-color: #202020;
}

/* ----- NAVIGATION ----- */

nav > ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 500px) {
  #card-4,
  #card-5,
  #card-6 {
    display: block;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 870px) {
  .hero {
    height: 488px;
  }

  .feature-date {
    font-size: 1rem;
  }

  .title {
    font-size: 2.5rem;
  }

  article {
    padding: 3.5em 0 3.5em 0;
  }

  .about-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-text {
    gap: 0;
  }

  h3,
  .recent-posts {
    font-size: 1.5rem;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}